<div class="sidebar" data-color="bluetrack" data-image="assets/img/full-screen-image-3.jpg">

    <div class="logo">
        <a class="simple-text">
            <img src="assets/img/blue/sidebar.png" height="150px" style="margin-left: 50px;">
        </a>
    </div>

    <div class="sidebar-wrapper">
        <div class="user">
            <div class="info">
                <div class="photo">
                    <img src="assets/img/default.jpg" />
                </div>
                <a>
                    <span>
                        <!-- {{empleado.nombre}} -->
                        Administrador
                    </span>
                </a>
            </div>
        </div>

        <ul class="nav">
            <li routerLinkActive="active">
                <a routerLink="/empresa">
                    <i class="pe-7s-server"></i>
                    <p>Empresas</p>
                </a>
            </li>
        </ul>
    </div>
</div>